#zuul
spring:
  application:
    name: zuul
  cloud:
    config:
      override-none: true 
server:
  port: 3001
  
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka
      
#zuul:
#  routes:
#    item-service: /item-service/**
#    user-service: /user-service/**
#    order-service: /order-service/**
#  retryable: false
 
#zuul默认不支持重试  如果需要重试 需要自己配置
zuul:
  retryable: true 
  
#ribbon:默认配置
#  ConnectTimeout: 1000
#  ReadTimeout: 1000
#  MaxAutoRetriesNextServer: 1
#  MaxAutoRetries: 0

ribbon:
  ConnectTimeout: 1000
  ReadTimeout: 1000
  MaxAutoRetriesNextServer: 1
  MaxAutoRetries: 1
  
management:
  endpoints:
    web:
      exposure:
        include:
        - hystrix.stream
